<div class="team-container">
  <div class="team-bar">
    <div class="team-bar-element">
      <h1>Our team</h1>
    </div>
    <div class="team-bar-element">
      <div class="team-bar-element">
        <mat-form-field>
          <mat-select placeholder="Favorite food">
            <mat-option>
              Newest
            </mat-option>
            <mat-option>
              Oldest
            </mat-option>
            <mat-option>
              High rating
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="team-bar-element">
      <form>
        <mat-form-field class="search">
          <input matInput placeholder="Search...">
        </mat-form-field>
      </form>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="temp-filter">
        <ul class="dropdown">
          <li class="title">Category</li>
          <li>
            <label>Checkbox 1
              <input type="checkbox" name="category[]" value="checkbox 1" checked/><span></span></label>
          </li>
          <li>
            <label>Checkbox 2
              <input type="checkbox" name="category[]" value="checkbox 2" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 3
              <input type="checkbox" name="category[]" value="checkbox 3" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 2
              <input type="checkbox" name="category[]" value="checkbox 2" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 3
              <input type="checkbox" name="category[]" value="checkbox 3" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 4
              <input type="checkbox" name="category[]" value="checkbox 4" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 5
              <input type="checkbox" name="category[]" value="checkbox 5" /><span></span></label>
          </li>
          <li>
            <label>Checkbox 6
              <input type="checkbox" name="category[]" value="checkbox 6" /><span></span></label>
          </li>
          <li class="divider"></li>
          <li class="title">Product Filter</li>
          <li>
            <label>Radio 1
              <input type="radio" name="filter" value="radio 1" checked="" /><span></span></label>
          </li>
          <li>
            <label>Radio 2
              <input type="radio" name="filter" value="radio 2" /><span></span></label>
          </li>
          <li>
            <label>Radio 1
              <input type="radio" name="filter" value="radio 1" checked="" /><span></span></label>
          </li>
          <li>
            <label>Radio 2
              <input type="radio" name="filter" value="radio 2" /><span></span></label>
          </li>
          <li>
            <label>Radio 1
              <input type="radio" name="filter" value="radio 1" checked="" /><span></span></label>
          </li>
          <li>
            <label>Radio 2
              <input type="radio" name="filter" value="radio 2" /><span></span></label>
          </li>
          <li class="note"><strong>Set your preferred language.</strong> This will be your default for searching and browsing, but we'll still show you results for other languages.</li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="team-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>  
</div>
