<div class="row justify-content-center">
  <div class="col-5">
      <div class="about-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas,
          doloribus nisi soluta, iste facilis culpa pariatur voluptatum adipisci eos unde! 
          Soluta dolor cumque minus repellat optio accusantium, aperiam quasi.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas,
          doloribus nisi soluta, iste facilis culpa pariatur voluptatum adipisci eos unde! 
          Soluta dolor cumque minus repellat optio accusantium, aperiam quasi.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas,
          doloribus nisi soluta, iste facilis culpa pariatur voluptatum adipisci eos unde! 
          Soluta dolor cumque minus repellat optio accusantium, aperiam quasi.
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            Последний заманивший свое рыбного образ деревни за, моей,
            рукописи по всей над заголовок всемогущая дорогу. 
            Заголовок родного меня решила ему переписывается!
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            Последний заманивший свое рыбного образ деревни за, моей,
            рукописи по всей над заголовок всемогущая дорогу. 
            Заголовок родного меня решила ему переписывается!
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            Последний заманивший свое рыбного образ деревни за, моей,
            рукописи по всей над заголовок всемогущая дорогу. 
            Заголовок родного меня решила ему переписывается!
      </div>
  </div>
  <div class="col-5">
    <div class="social-content">
      <ul class="list-top">
        <li>
          <h4 class="list-header">Contact Us</h4>
        </li>
        <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor"><i class="far fa-envelope contact-icon"></i>lnrz@gmail.com</a></li>
        <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor"><i class="fas fa-phone contact-icon"></i>+11122245342</a></li>
        <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank"><i class="fas fa-pen contact-icon"></i>Send Message</a></li>
      </ul>
      <ul class="list-social">
        <li id='help'>
          <h4 class="list-header">Social</h4>
        </li>
        <div class="social-btns">
          <a class="btn facebook" href="#"><i class="fab fa-facebook"></i></a>
          <a class="btn twitter" href="#"><i class="fab fa-twitter"></i></a>
          <a class="btn instagram" href="#"><i class="fab fa-instagram"></i></a>
          <a class="btn skype" href="#"><i class="fab fa-skype"></i></a>
        </div>
      </ul>
    </div>
  </div>
</div>
