<footer class="flex-rw">
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Navigaton</h4></li>
    <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">Home</a></li>
    <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">About Us</a></li>
    <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Team</a></li>
    <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">Projects</a></li>
  </ul>
  <ul class="footer-list-top second-row">
    <li>
      <h4 class="footer-list-header">Contact Us</h4></li>
      <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor"><i class="far fa-envelope contact-icon"></i>lnrz@gmail.com</a></li>
      <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor"><i class="fas fa-phone contact-icon"></i>+11122245342</a></li>
      <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank"><i class="fas fa-pen contact-icon"></i>Send Message</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Social</h4>
    </li>
    <div class="social-btns">
      <a class="btn facebook" href="#"><i class="fab fa-facebook"></i></a>
      <a class="btn twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="btn instagram" href="#"><i class="fab fa-instagram"></i></a>
      <a class="btn skype" href="#"><i class="fab fa-skype"></i></a>
    </div>
  </ul>
  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">   
      LNRZ <span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
  </section>
</footer>
