<video autoplay muted loop id="main_video">
  <source src="./assets/media/walk.mp4" type="video/mp4">
</video>

<div class="row">
  <div class="col-md-5">
    <div class="home-text">
      <p><strong>LNRZ </strong>- It is a software development company that provides expertise in web design and web development, mobile application development,
                e-commerce solution development, and quality assurance and testing. But let's digress from this, better read our site.</p>
    </div>
  </div>
</div>

<div class="color-palette">
  <span class="cyan"></span>
  <span class="gold"></span>
  <span class="red"></span>
  <span class="gray"></span>
  <span class="green"></span>
</div>
