<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="article-page">
        <div class="bg-img">
          <h1>LNRZ Corp.</h1>
        </div>
        <div class="main-text">
          <p>
              Beware of counterfeit parts
              Some counterfeit and third 
              party power adapters and batteries may not be
                designed properly and could result in safety issues.
                To ensure you receive a genuine Apple battery during a
                  battery replacement, we recommend visiting an Apple Store 
                  or Apple Authorized Service Provider. If you need a replacement
                  adapter to charge your Apple device, we recommend
                    getting an Apple power adapter.
              
              Also non-genuine replacement displays may have 
              compromised visual quality and may fail to work correctly. 
              Apple-certified screen repairs are performed by trusted experts
                who use genuine Apple parts.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  