<div class="team-container">
  <div class="team-sort">
    <div class="team-logo">
      <h1>Our projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="filter">
        <h2>Project Duration</h2>
        <mat-list>
          <mat-list-item>
            <input id='7' type='checkbox'>
            <label for='7'>
              <span></span>
              1 - 2 months
              <ins><i>1 - 2 months</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='7' type='checkbox'>
            <label for='7'>
              <span></span>
              2 - 6 months
              <ins><i>2 - 6 months</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
              <input id='7' type='checkbox'>
              <label for='7'>
                <span></span>
                6 + months
                <ins><i>6 + months</i></ins>
              </label>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <h2>Programming language</h2>
        <mat-list>
          <mat-list-item>
            <input id='4' type='checkbox'>
            <label for='4'>
              <span></span>
              Javascript
              <ins><i>Javascript</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='4' type='checkbox'>
            <label for='4'>
              <span></span>
              Python
              <ins><i>Python</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='5' type='checkbox'>
            <label for='5'>
              <span></span>
              Typescript
              <ins><i>Typescript</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='6' type='checkbox'>
            <label for='6'>
              <span></span>
              C++
              <ins><i>C++</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='7' type='checkbox'>
            <label for='7'>
              <span></span>
              Golang
              <ins><i>Golang</i></ins>
            </label>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <h2>Framework</h2>
        <mat-list>
          <mat-list-item>
            <input id='8' type='checkbox'>
            <label for='8'>
              <span></span>
              Angular
              <ins><i>Angular</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='9' type='checkbox'>
            <label for='9'>
              <span></span>
              React
              <ins><i>React</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='10' type='checkbox'>
            <label for='10'>
              <span></span>
              Vue.js
              <ins><i>Vue.js</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='11' type='checkbox'>
            <label for='11'>
              <span></span>
              Django
              <ins><i>Django</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='12' type='checkbox'>
            <label for='12'>
              <span></span>
              Flask
              <ins><i>Flask</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='13' type='checkbox'>
            <label for='13'>
              <span></span>
              Tornado
              <ins><i>Tornado</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='14' type='checkbox'>
            <label for='14'>
              <span></span>
              Gin
              <ins><i>Gin</i></ins>
            </label>
          </mat-list-item>
          <mat-list-item>
            <input id='15' type='checkbox'>
            <label for='15'>
              <span></span>
              Echo
              <ins><i>Echo</i></ins>
            </label>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-9">
      <div class="team-card-container">
        <mat-card class="team-card">
          <mat-card-header>
            <mat-card-title>LNRZ Corp.</mat-card-title>
            <mat-card-subtitle>Django | Angular | NodeJS</mat-card-subtitle>
          </mat-card-header>
          <div class="card-img" mat-card-image style="background-image: url('https://newevolutiondesigns.com/images/freebies/futuristic-city-wallpaper-3.jpg')"></div>
          <mat-card-content>
            <p class="card-text">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="projects-detail" mat-button>More info</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>  
</div>
